:root{
  --main-width:1110px;
  --lightest-green:#99cc66;
  --dark-green:#6cb62b;
  --before-white: #fefefe;
}
.varMavenPro{
  font-family: 'Maven Pro', sans-serif;
}
.varOpenSans{
  font-family: 'Open Sans', sans-serif;
}
.commonTitle{
  text-align: center;
  text-transform: uppercase;
  color:#232323;
  width: max-content;
  margin: 0 auto;
  font-size: 2.4rem;
  padding: 0 0 1rem;
  margin-bottom: 3rem;
  position: relative;
  &::after{
    background: var(--dark-green);
    content: ' ';
    position: absolute;
    height: 8px;
    width:20%;
    bottom: -8px;
    display: block;
  }
}

*{
  margin:0;
  padding:0;
  line-height:1;
  box-sizing:border-box;
  font:16px/1 'Maven Pro','Open Sans', 'Arial', sans-serif;
  font-weight: 500;
}

body{
  background: #333;
  color:#FFF;
  a, a:hover{
    color:#FFF;
    text-decoration: none;
  }
}

header{
  .top-header{
    display: flex;
    margin: 0 auto;
    max-width: var(--main-width);
    > *{
      flex: 1 1 33.3%;
      justify-content: center;
      align-items: center;
      align-self: center;
    }
    .logo{
      display: block;
      height:6.375rem;
      overflow: hidden;
      background: transparent url('../img/12rnd-header.svg') 0 center no-repeat;
      background-size: 22%;
      span{
        display: none; }
    }
    .blurb{
      display: none;
      @extend .varOpenSans;
      font-size: 1.125rem;
      font-weight: 100;
    }
    .buttons{
      flex:0 0 20%;
      margin-left: auto;
       a{
          @extend .blurb;
          display: inline-block;
          background-color:var(--lightest-green);
          font-size: .9rem;
          padding: 0.5rem 0.675rem;
          color: #000;
          transition: background-color, color 80ms;
        &:hover{
          transition: background-color, color 80ms;
          background-color: var(--dark-green);
          color: #FFF;
        }
      }
    }
  }

  .top-navigation{
    max-width: var(--main-width);
    margin:0 auto;
    nav{
      background: #FFF;
      display: flex;
      & > *{
        justify-content: center;
        align-items: center;
        flex: 1 0 auto;
      }
      a{
        position: relative;
        &:first-child,
        .current{
          background-color: var(--dark-green);
          color:#FFF;
          font-weight: 500;
        }
        &:hover{
          &::after{
            width: 60%;
            transition: width 240ms;
          }
        }
        &:first-child{
          &::after{
            display: block;
            width: 60%!important;
            background: #FFF;
          }
        }
        &::after{
          content:' ';
          display: block;
          position: absolute;
          background: var(--dark-green);
          width: 0%;
          height:8px;
          bottom:-8px;
          transition: width 120ms;
          z-index: 3;
        }
        @extend .varOpenSans;
        padding: 1.9rem 0;
        background-color: #333;
        text-align: center;
        font-size: 1.125rem;
        font-weight: 300;
        transition: background-color, color 300ms;
      }
    }
  }
}

main {
  .flex{
    display: flex;
  }
  .bounding-box{
    width: var(--main-width);
    margin: 0 auto;
  }
  .hero-banner{
    background: transparent url('../img/12RND Fitness_Julian Lallo-47.jpg') 0 0 no-repeat;
    background-size: cover;
    height: 37.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .bg-overlay{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.5);
      mix-blend-mode: multiply;
      z-index: 1;
    }
    .bounding-box{
      z-index: 2;
    }
    .title, .description{
      width: var(--main-width);
      display: block;
      margin:0 auto;
    }
    .title{
      font-size: 3.8rem;
      line-height: 1.4;
      font-weight: 700;
      text-shadow: 1px 0 3px rgba(255,255,255,.3);
      position: relative;
      background: var(--dark-green);
      padding: 0 1rem;
      width: max-content;
      text-align: left;
      margin:0 0 2.4rem;
    }
    .description{
      @extend .varOpenSans;
      color:#FFF;
      background: transparent;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.8;
      padding-right:30%;
    }
  }
  .feature-boxes{
    list-style: none;
    display: flex;
    .box{
      padding: 42px;
      flex: 0 0 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      &:nth-child(odd){
        background: var(--dark-green);
      }
      &:nth-child(even){
        background: #000;
      }
      .title{
        font-size:1.8rem;
        display: block;
        line-height: 1.3;
        padding-bottom:2rem;
      }
      .description{
        display: block;
        font-weight: 300;
        font-size: 1.1rem;
        line-height: 1.4;
      }
    }
  }
  .offer-box{
    background: var(--before-white);
    .bounding-box{
      display: flex;
    }
    .what-we-offer{
      display: flex;
      color:#232323;
      justify-content: space-between;
      .flex{
        flex-direction: column;
        justify-content: center;
        padding:82px 82px 82px 0;
      }
      h2{
        font-size: 2.4rem;
        line-height: 1.3;
        padding-bottom:3.24rem;
        &::after{
          display: block;
          content:' ';
          height: 8px;
          width:10%;
          margin-top:1rem;
          position: relative;
          background: var(--dark-green);
        }
      }
      p{
        @extend .varOpenSans;
        color:#434343;
        line-height: 1.8;
        font-weight: 300;
      }
    }
    .background-img{
      flex:0 0 50%;
      background: transparent url('../img/graph-v2.png') center center no-repeat;
      background-size: 75%;
    }
  }
  .numbers-box{
    background: transparent url('../img/_L1A6707-v2.jpg') 0 0 no-repeat;
    background-size: cover;
    .bounding-box{
      display: flex;
      padding: 72px 0;
      .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        object{
          width:100%;
          height:100%;
        }
      }
      .numbers-box{
        margin-left:32px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        li{
          border: 1px solid rgba(255,255,255,.6);
          padding: 48px 24px;
          margin-bottom:1rem;
          span{
            @extend .varOpenSans;
            display: block;
            text-align: center;
            font-size:1rem;
            &.title{
              @extend .varMavenPro;
              font-size: 2rem;
              padding-bottom:1rem;
            }
          }
        }
      }
    }
  }
  .keep-things-simple{
    background: var(--before-white);
    color:#434343;
    .bounding-box{
      padding:82px 0;
      article{
        h3{
          @extend .commonTitle;
        }
        p{
          @extend .varOpenSans;
          text-align: center;
          font-weight: 300;
          font-size: 1rem;
          line-height: 1.6;
        }
        p:first-of-type{
          font-weight: 400;
          font-size: 1.6rem;
        }
      }
      .content-boxes{
        list-style: none;
        display: flex;
        padding: 72px 0 0;
        justify-content: space-between;
        li{
          flex: 0 0 33.3%;
          padding:6.8rem 2.2rem 0;
          h4{
            @extend .varMavenPro;
            font-size: 1.4rem;
            padding: 2.2rem 0;
            text-align: center;
          }
          p{
            @extend .varOpenSans;
            font-size: 1rem;
            line-height: 1.8;
            text-align: justify;
            color: #434343;
            font-weight: 300;
          }
          &.feature-box-1{
            background: transparent url('../img/heartbeat-icon.svg') center 0 no-repeat;
            background-size: 26%;
          }
          &.feature-box-2{
            background: transparent url('../img/boxing-icon.svg') center 0 no-repeat;
            background-size: 26%;
          }
          &.feature-box-3{
            background: transparent url('../img/muscle-icon.svg') center 0 no-repeat;
            background-size: 26%;
          }
        }
      }
    }
  }
  .franchisee-box{
    background: var(--before-white);
    color: #232323;
    .bounding-box{
      border-top: 1px solid #6cb62b;
      padding: 72px 0;
      article{
        h3{
          @extend .commonTitle;
        }
        p{
          @extend .varOpenSans;
          font-size: 1rem;
          line-height: 1.6;
          text-align: center;
          font-weight: 400;
        }
      }
      .enumerated-boxes{
        display: flex;
        margin-top:72px;
        list-style: none;
        justify-content: space-between;
        list-style: none;
        h4{
          font-size: 1.2rem;
          text-align: center;
          margin-bottom: 1.4rem;
        }
        .enumerated-box{
          list-style-position: outside;
          list-style-type: disc;
          padding-left: 1.2rem;
          margin: 0 1.2rem;
          color:var(--dark-green);
          li{
            margin-bottom: 6px;
            span{
              @extend .varOpenSans;
              font-weight: 300;
              font-size: 1rem;
              line-height:1.6rem;
              color: #434343;
            }
          }
        }
      }
    }
  }
  .request-quote{
    background: transparent url('../img/UBXBayfairOct2019(73of78)-v2.png') 0 center no-repeat;
    background-size: cover;
    .bounding-box{
      padding:72px 0;
      display: flex;
      .request-quote-box{
        flex: 0 0 50%;
        width: 50%;
        margin-left: auto;
        h4{
          @extend .commonTitle;
          color: #FFF;
          width: 100%;
          text-align: left;
        }
        p{
          @extend .varOpenSans;
          font-size: 1rem;
          line-height: 1.6;
          font-weight: 300;
        }
        .flex-form{
          @extend .flex;
          padding:32px 0;
          flex-wrap: wrap;
          justify-content: space-between;
          label{
            @extend .varOpenSans;
            font-weight: 300;
          }
          .input{
            flex:0 0 50%;
            padding: 0 1rem 2rem;
            &.full-size{
              flex: 0 0 100%;
            }
            input, textarea{
              @extend .varOpenSans;
              width: 100%;
              background: transparent;
              border: 0 none;
              border-radius: 0;
              border-bottom: 2px solid rgba(255,255,255,.65);
              color:#FFF;
              outline: none;
              padding:12px;
              &::placeholder{
                @extend .varOpenSans;
                font-weight: 300;
                color:rgba(255,255,255,.65);
              }
            }
            textarea{
              width: 100%;
              resize: vertical;
            }
          }
          .dropdown{
            flex:0 0 100%;
            padding: 0 1rem 2rem;
            select{
              outline: none;
              width: 100%;
              background: transparent;
              @extend .varOpenSans;
              color:#FFF;
              border: 0 none;
              border-radius: 0;
              padding:12px;
              border-bottom: 2px solid rgba(255,255,255,.65);
            }
          }
          .button{
            flex: 0 0 50%;
            button{
              outline: none;
              width: 100%;
              background: var(--dark-green);
              color:#FFF;
              border: 0 none;
              border-radius: 2rem;
              padding: 1.2rem;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
  .featured-box{
    background: var(--before-white);
    .bounding-box{
      padding: 72px 0;
      h3{
        @extend .commonTitle;
        margin-bottom: 92px;
      }
      .featured-links{
        list-style: none;
        justify-content: space-between;
        li{
          margin: 0 1rem;
          padding-top:6.25rem;
          text-align: justify;
          a{
            display: block;
            outline: none;
            color: #232323;
            position: relative;
            height: 100%;
            background: #FFF;
            .title{
              text-transform: capitalize;
              font-size: 1.4rem;
              line-height: 1.4;
              display: block;
              padding:.625rem 0 1.4rem;
            }
            .company{
              display: block;
              @extend .varOpenSans;
              font-size: 1.1rem;
              font-weight: 300;
            }
            .date{
              background: var(--dark-green);
              position: absolute;
              width: 64px;
              color:#FFF;
              top:-88px;
              left:0;
              padding: 12px;
              text-align: center;
              .day{
                font-size: 2rem;
                display: block;
              }
            }
          }
          &.relauncher{
            background: #efefef url('../img/relauncher-icon.png') center 10% no-repeat;
            background-size: 16%;
          }
          &.insider-business{
            background: #efefef url('../img/ISB-Logo-TM_Colour_512.webp') center 10% no-repeat;
            background-size: 70%;
          }
          &.smart-company{
            background: #efefef url('../img/smartcompanylogo.svg') center 14% no-repeat;
            background-size: 70%;
          }
        }
      }
    }
  }
  .what-franchisees-say{
    background: var(--before-white);
    color:#232323;
    .bounding-box{
      border-top: 1px solid #6cb62b;
      padding: 82px 0;
      h3{
        @extend .commonTitle;
        margin-bottom: 92px;
      }
      .slideshow-box{
        width:70%;
        margin: 0 auto;
        overflow: hidden;
      }
      .slideshow{
        width:300%;
        list-style: none;
        justify-content: space-between;
        li{
          flex: 0 0 33.3%;
          display: flex;
          justify-content: space-between;
          img{
            flex: 1 1 30%;
            max-width: 30%;
          }
          .context{
            flex: 0 0 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 42px;
          }
          .context p{
            @extend .varOpenSans;
            font-weight: 300;
            font-size:1.2rem;
            line-height: 1.4;
            margin-bottom:24px;
          }
          .author{
            @extend .varMavenPro;
            font-size: 1.2rem;
            display: block;
          }
        }
      }
      .slideshow-controls{
        padding:42px 0px 82px;
        .flex{
          justify-content: center;
        }
        li{
          list-style: none;
          span{
            display: block;
            width:18px;
            border-radius: 50%;
            background: #686868;
            height: 18px;
            margin: 0 .425rem;
          }
          &:first-child{
            span{
              background: #232323;
            }
          }
        }
      }
    }
  }
  .img-gallery{
    .flex{
      list-style: none;
      li{
        flex: 0 0 20%;
        background-size: cover;
        height: 360px;
        &.img-a{
          background: transparent url('../img/_L1A6707.jpg') center center no-repeat;
        }
        &.img-b{
          background: transparent url('../img/_L1A7099.jpg') center center no-repeat;
        }
        &.img-c{
          background: transparent url('../img/_L1A7166.jpg') center center no-repeat;
        }
        &.img-d{
          background: transparent url('../img/_L1A7674.jpg') center center no-repeat;
        }
        &.img-e{
          background: transparent url('../img/_L1A8623.jpg') center center no-repeat;
        }
      }
    }
  }
}

footer{
  background: #121212;
  padding: 32px 0 64px;
  .flex{
    display: flex;
    .logo{
      flex:0 0 25%;
      display: block;
      height:6.375rem;
      overflow: hidden;
      background: transparent url('../img/12rnd-header.svg') 0 center no-repeat;
      background-size: 100%;
      span{
        display: none; }
    }
    .bottom-nav{
      flex: 0 0 50%;
      display: flex;
      flex-wrap: wrap;
      a{
        flex: 0 0 50%;
      }
    }
    .soc-links-box{
      flex:0 0 25%;
      h5{
        font-size: 1.4rem;
      }
      .soc-links{
        list-style: none;
        padding: 26px 0;
        li{
          display: inline-block;
          a{
            display: block;
          }
        }
      }
      .footer-text{
        @extend .varOpenSans;
        font-weight: 300;
        font-size: .75rem;
      }
    }
  }
}
